html {
  height: 100%;

  > body {
    margin: 0;
    width: 420px;
    height: 600px;

    font-weight: 400;
    font-family: 'Arial', sans-serif;
    font-size: 100%;
    font-kerning: normal;

    > #app {
      height: 100%;
    }
  }
}

* {
  box-sizing: border-box;
}
